@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

.team-scroller{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 50%;
  gap: 1rem;

  overflow-x: auto;
  overscroll-behavior-inline: contain;
}

@media (min-width:680px) {
  .team-scroller{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 35%;
    gap: 1rem;
  }
}

::-webkit-scrollbar {
    /* display: none; */
    width: 1px;
    margin-left: 5px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: transparent;
  }

.linkText{
    @apply text-black text-base sm:text-lg font-medium
}

.userBg{
    @apply bg-[#adb5bd] rounded-full w-[40px] h-[40px] relative overflow-hidden cursor-pointer
}

.navigationDivLinks{
    @apply py-4 px-8 cursor-pointer hover:bg-black/[0.1] transition-all ease-in-out hidden sm:flex items-center gap-4
}

.navigationText{
    @apply text-base font-normal text-black
}

.postLinks{
  @apply flex gap-2 items-center 
}

.joinBtn{
  @apply px-4 py-2 bg-[#fd088b] hover:bg-[#d40859] transition-all ease-in text-white font-semibold rounded-md
}

.hiddenInMobile{
  @apply hidden sm:flex
}

.hiddenInDesktop{
@apply flex sm:hidden
}